html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.earring {
  flex-grow: 1; /* Ensure content takes available space */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Add some padding if needed */
}

.necklace {
  flex-grow: 1; /* Ensure content takes available space */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Add some padding if needed */
}

.ring {
  flex-grow: 1; /* Ensure content takes available space */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Add some padding if needed */
}
