html,
body,
.app-container {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /* Full viewport height */
}

.header {
  flex-shrink: 0; /* Header at the top */
}

.content {
  flex-grow: 1; /* Home content takes the middle space */
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  flex-shrink: 0; /* AboutUs at the bottom */
}
